@import "./components/reset";
@import "./utils/variables";
@import "./components/global-styles";
@import "./components/header";
@import "./components/logostyle";
@import "./components/navigation";
@import "./components/contact-links";
@import "./components/mainpage-banner";
@import "./components/strenghts";
@import "./components/services";
@import "./components/our-team";
@import "./components/footer";
@import "./components/our-clients";
@import "./components/social-icons";
@import "./components/newsletter";
@import "./utils/backdrop";
@import "./utils/hidden";
@import "./components/modal";
@import "./components/form-order";
@import "./components/portfolio-filter-menu";
@import "./components/portfolio-projects";
