.contact-mobile {
  margin-top: auto;
  &__phone {
    color: var(--main-blue);
    font-weight: 500;
    font-size: 34px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    display: block;
    margin-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--main-blue);
    }
  }
  &__email {
    @extend .contact-mobile__phone;
    font-size: 24px;
    color: var(--main-grey);
    margin-bottom: 64px;
  }
}
