.header__contact {
  display: none;
}
@include tablet {
  .header__contact {
    display: flex;
    flex-direction: column;
    width: 161px;
    margin-left: 101px;
    margin-right: 15px;
    &--email {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &--phone {
      display: flex;
      width: 130px;
      margin-top: 10px;
      justify-content: space-between;
      align-items: center;
    }
    &--color {
      color: var(--main-grey);
    }
    &--icon {
      fill: currentColor;
    }
  }
}
@include desktop {
  .header__contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--email {
      margin-right: 30px;
    }
    &--color {
      color: var(--main-grey);
    }
    &--icon {
      fill: currentColor;
    }
  }
}
