footer {
  background-color: var(--background-grey);
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 603px;
  padding-top: 60px;

  &__list-contact {
    list-style-type: none;
    margin-top: 20px;
    align-items: center;
    &--gap :not(:last-child) {
      margin-bottom: 9px;
    }
    &--address1 {
      color: var(--main-white);
      font-size: 14px;
      font-weight: 400;
      font-style: normal;
      line-height: 1.71;
      letter-spacing: 0.03em;
    }
    &--address2 {
      color: var(--main-grey);
      font-style: normal;
      font-weight: 400;
      font-size: $fontSizeNormal;
      line-height: 24px;
    }
  }
  &__social {
    margin-top: 60px;
  }
  &__title-first {
    color: var(--main-white);
    font-weight: 700;
    font-size: $fontSizeNormal;
    line-height: 0.85px;
    letter-spacing: 0.03em;
  }
  &__title-second {
    color: var(--main-white);
    font-weight: 700;
    font-size: $fontSizeNormal;
    line-height: 0.85px;
    letter-spacing: 0.03em;
    margin-top: 60px;
    text-align: center;
  }
  &__list-social {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    &--icons {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      margin-right: 10px;
      margin-top: 12px;
      background-color: rgba(255, 255, 255, 0.1);
      transition: $primary-transitions;
    }
    &--symbol {
      fill: var(--main-white);
    }
    &--icons:hover,
    &--icons:focus {
      background-color: var(--main-blue);
    }
  }
}
@include tablet {
  .footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    column-gap: 144px;
    justify-content: center;
    &__title-second {
      margin-top: 0px;
    }
  }
}
@include desktop {
  .footer {
    flex-direction: row;
    flex-wrap: nowrap;
    height: 252px;
    padding-top: 0;
    text-align: start;
    align-items: baseline;
    &__social {
      margin-left: 70px;
      margin-top: 0;
      height: 44px;
      width: 206px;
    }
    &__title-first {
      margin-top: 70px;
    }
    &__title-second {
      margin-left: 74px;
      margin-top: 72px;
      padding: 20px 0 0 0;
      text-align: left;
    }
  }
}
