body {
  font-family: $primary-font;
  color: var(--main-black);
  font-size: $fontSizeNormal;
}
.container {
  max-width: 480px;
  padding: 0 15px;

  @include tablet {
    min-width: 768px;
    padding: 0 15px;
  }

  @include desktop {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
  }
}

.section-title {
  color: var(--main-black);
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
