.header {
  border-bottom: var(--lines-color) solid 1px;
  padding-top: 26px;
  padding-bottom: 26px;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    margin-left: 15px;
  }
}
@include tablet {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
    &__logo {
      margin-right: 83px;
      margin-left: 15px;
    }
  }
}
@include desktop {
  .header__logo {
    margin-right: 93px;
  }
}
