.header {
  border-bottom: var(--lines-color) solid 1px;
  &__container {
    display: flex;
    align-items: center;
    height: 60px;
  }
}
@include tablet {
  .header {
    border-bottom: var(--lines-color) solid 1px;
    &__container {
      display: flex;
      align-items: center;
      height: 80px;
      padding: 10px 0;
    }
  }
}
@include desktop {
  .header {
    border-bottom: var(--lines-color) solid 1px;
    padding-top: 24px;
    padding-bottom: 25px;
    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
