.logostyle {
  font-family: $logo-font;
  color: var(--main-black);
  text-decoration: none;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 3%;
  vertical-align: top;
  text-align: left;

  &__first {
    color: var(--main-blue);
  }
  &__second {
    color: var(--main-white);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}
