.mainpage-banner {
  background-color: var(--background-grey);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(/goit-markup-hw-08/images/header-office-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  margin: 0 auto;
  color: var(--main-white);
  &__text {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0 57px;
    margin-bottom: 30px;
  }
  &__button {
    background-color: var(--main-blue);
    color: var(--main-white);
    font-weight: 700;
    font-size: $fontSizeBig;
    line-height: 1.88;
    cursor: pointer;
    letter-spacing: 0.06em;
    text-align: center;
    min-width: 200px;
    border: none;
    border-radius: 4px;
    padding: 10px 42px;
  }
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .mainpage-banner {
    background-image: url(/goit-markup-hw-08/images/header-office-mobile@2x.jpg);
  }
}
@include tablet {
  .mainpage-banner {
    background-image: linear-gradient(
        90deg,
        rgba(47, 48, 58, 0.4) 0%,
        rgba(47, 48, 58, 0.4) 0%
      ),
      url(/goit-markup-hw-08/images/header-office-tab@1x.jpg);
    &__text {
      margin: 0 201px;
      margin-bottom: 40px;
    }
  }
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .mainpage-banner {
    background-image: url(/goit-markup-hw-08/images/header-office-tab@2x.jpg);
  }
}
@include desktop {
  .mainpage-banner {
    background-color: var(--background-grey);
    background-image: url(/goit-markup-hw-08/images/header-office-desk@1x.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 2000px rgba(47, 48, 58, 0.4);
    height: 600px;
    width: 1600px;
    max-width: 100%;
    margin: 0 auto;
    padding: 200px 0;
    color: var(--main-white);
    &__text {
      font-size: 44px;
      width: 696px;
      margin: 0 auto;
      margin-bottom: 30px;
    }
  }
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .mainpage-banner {
    background-image: url(/goit-markup-hw-08/images/header-office-desk@2x.jpg);
  }
}
