.mainpage-banner {
  background-color: var(--background-grey);
  background-image: url(/goit-markup-hw-04/images/header-office-background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 2000px rgba(47, 48, 58, 0.4);
  height: 600px;
  width: 1600px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 200px 0;
  color: var(--main-white);
  &__text {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  &__button {
    background-color: var(--main-blue);
    color: var(--main-white);
    font-weight: 700;
    font-size: $fontSizeBig;
    line-height: 1.88;
    cursor: pointer;
    letter-spacing: 0.06em;
    text-align: center;
    min-width: 200px;
    border: none;
    border-radius: 4px;
    padding: 10px 42px;
  }
}
