.mobil-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 600;
  width: 100%;
  height: 796px;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: var(--main-white);
  transform: translateX(100%);
  transition: $primary-transitions;
  text-decoration: none;
  visibility: hidden;
  &__menu-toggle {
    position: absolute;
    top: 21px;
    right: 25.33px;
    background-color: var(--main-white);
    border: none;
    cursor: pointer;
    &--icon {
      fill: var(--second-black);
      width: 40px;
      height: 40px;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:hover,
      &:focus {
        fill: var(--main-blue);
      }
    }
  }
}
.is-open {
  transform: translateX(0);
  visibility: visible;
}
