.signup-newsletter {
  display: flex;
  margin-left: auto;
  justify-content: space-between;
  align-items: flex-end;
  &__mail {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    margin: 35px 12px 89.5px 74px;
    padding-left: 16px;
  }
  &__button {
    position: relative;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 4px;
    background-color: var(--main-blue);
    color: var(--main-white);
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.06em;
    text-align: left;
    padding-left: 42px;
    align-items: center;
  }
  &__button::after {
    width: 24px;
    content: "";
    height: 24px;
    position: absolute;
    top: 13px;
    left: 148px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath id='icon-person-black-2' d='M24 0L0 13.5L7.66994 16.3407L19.5 5.25002L10.5017 17.3896L10.509 17.3923L10.5 17.3896V24.0001L14.8013 18.982L20.2501 21.0001L24 0Z' fill='white'/%3E%3C/svg%3E");
    transition: $primary-transitions;
  }
}
