.our-clients {
  fill: var(--social-icons);
  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    gap: 30px;
    &--logo {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 210px;
      height: 92px;
      border: 1px solid var(--social-icons);
      border-radius: 4px;
      cursor: pointer;
      transition: $primary-transitions;
    }
    &--logo:hover,
    &--logo:focus {
      fill: var(--main-blue);
      border-color: var(--main-blue);
    }
  }
}
@include tablet {
  .our-clients {
    &__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      &--logo {
        width: 226px;
        height: 92px;
      }
    }
  }
}
@include desktop {
  .our-clients {
    height: 184px;
    &__list {
      display: flex;
      flex-wrap: nowrap;
      list-style-type: none;
      justify-content: center;
      padding-bottom: 94px;
      &--logo {
        width: 170px;
        height: 92px;
      }
    }
  }
}
