.portfolio-filter {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
  list-style: none;
  &__buttons {
    font-family: inherit;
    color: var(--second-black);
    font-size: $fontSizeBig;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;
    cursor: pointer;
    background-color: var(--second-white);
    padding: 6px 25px;
    border-radius: 4px;
    border-style: none;
    transition: $primary-transitions;
  }
  &__buttons:hover,
  &__buttons:focus {
    color: var(--main-white);
    background-color: var(--main-blue);
    box-shadow: $portfolio-selected-buttons-shadow;
  }
}
