* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0px;
}
section {
  padding: 94px 0 94px 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul,
li {
  list-style-type: none;
  padding: 0;
}
