* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0px;
}
section {
  padding-top: 60px;
  padding-bottom: 60px;
  @include tablet {
    padding-bottom: 45px;
  }
  @include desktop {
    padding: 94px 0 94px 0;
  }
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul,
li,
menu {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
