* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0px;
}
section {
  padding-top: 60px;
  padding-bottom: 60px;

  @include desktop {
    section {
      padding-top: 94px;
      padding-bottom: 94px;
    }
  }
}
img {
  display: block;
  width: 100%;
  height: auto;
}
ul,
li {
  list-style-type: none;
  padding: 0;
}
