.backdrop {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-left: 8px;
  padding-right: 8px;
  z-index: 1;
  cursor: not-allowed;
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transition-property: opacity, visibility, transform;
  transition: $primary-transitions;
  background-color: rgba(0, 0, 0, 0.2);
}
.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
}
@include tablet {
  .backdrop {
    padding-left: 0;
    padding-right: 0;
  }
}
@include desktop {
  .backdrop {
    padding-left: 0;
    padding-right: 0;
  }
}
