:root {
  --main-black: #212121;
  --second-black: #000000;
  --main-blue: #2196f3;
  --background-grey: #2f303a;
  --main-white: #ffffff;
  --second-white: #f5f4fa;
  --main-grey: #757575;
  --lines-color: #ececec;
  --lines-color-2: #eeeeee;
  --social-icons: #afb1b8;
}

$primary-font: "Roboto", sans-serif;
$logo-font: "Raleway", sans-serif;
$fontSizeTitle: 36px;
$fontSizeBigger: 18px;
$fontSizeBig: 16px;
$fontSizeNormal: 14px;
$primary-transitions: 250ms cubic-bezier(0.4, 0, 0.2, 1);

$modal-shadow: 0px 1px 3px #0000001f, 0px 1px 1px #00000024,
  0px 2px 1px #00000033;
$our-team-card-shadow: 0 2px 1px 0 #00000033, 0 1px 1px 0 #00000024,
  0 1px 3px 0 #0000001f;
$portfolio-selected-buttons-shadow: inset 0px 2px 2px 0 #0000001f,
  inset 0 1px 2px 0 #00000014, inset 0 3px 1px 0 #0000001a;
$portfolio-selected-project-shadow: 1px 4px 6px 0 #00000029,
  0 4px 4px 0 #0000000f, 0 1px 1px 0 #0000001f;
